
<div class="hero-unit">
<h1>Nowa kategoria</h1>


<%= form_for(:kategoria, :url => {:action => 'dodaj'}) do |pole| %>
<%= render(:partial => "form", :locals => {:pole => pole}) %>


<div style="text-align: center;">
  <%= link_to("Powrót", {:action => 'index'}, :class => 'btn btn-warning')%>
<%= submit_tag("Dodaj",:class => 'btn btn-primary') %>
</div>


	<% end %>

</div>



