<div class="hero-unit">
<h1>Usunięcie produktu</h1>


<%= form_for(:product, :url => {:action => 'kasuj', :id => @produkt.id}) do |pole| %>

<div class="alert alert-danger" role="alert">
<p> Czy na pewno usunać produkt? </p>
</div>

<table class="table table-striped">
<tr>
<th> Nazwa produktu </th>
<td> <%= @produkt.name %> </td>
</tr>
</table>

<div style="text-align: center;">
<%= link_to("Powrót", {:action => 'index'},:class => 'btn btn-primary')%>
<%= submit_tag("Usuń",:class => 'btn btn btn-danger') %>
</div>

<% end %>
</div>










